<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
  </head>
  <body>
    <h1>Upload Image</h1>

    <!-- Formulir untuk meng-upload gambar -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <button type="submit">Upload Image</button>
    </form>

    <h2>Uploaded Images:</h2>
    <!-- Menampilkan semua gambar yang ada di folder images -->
    {% if image_files %}
    <div>
      {% for image in image_files %}
      <img
        src="{{ url_for('uploaded_file', filename=image) }}"
        alt="Uploaded Image"
        width="300"
      />
      <br />
      {% endfor %}
    </div>
    {% else %}
    <p>No images uploaded yet.</p>
    {% endif %}
  </body>
</html>
